body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #0d0d0c;
    color: #ddd;
    }
  
  h1 {
    color: #fff;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #333;
    color: white;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: start;
    }
  
  th {
    background-color: #080807;
  }
  
  .completed {
    background-color: rgb(39, 103, 39);
    color: black;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .complete-btn {
    background-color: #28a745;
    color: white;
    border: none;
  }
  
  .undo-btn {
    background-color: #dc3545;
    color: white;
    border: none;
  }
  